<div id="div3" class="container-fluid text-light p-5">
  <h1>About us</h1>
  <p>We are a brazilian group inspired by transmitting music in its purest and most original essence, directly from the source and with many different resources. By working on this website, we aim for greater freedom of access to the musical mixing process present in the most influential alternative rock and metal bands around the world. You can contact us by the following email: bilinhas1712@hotmail.com</p>
</div>

<div class="col bg-danger text-center text-light" >
    &copy 2025 - Anytime™ ver 1.0.0
</div>